{
  "extends": ["next", "next/core-web-vitals"],
  "env": {
    "jest": true
  }
  // "rules": {
  //   "import/no-extraneous-dependencies": [
  //     "error",
  //     {
  //       "devDependencies": [
  //         "jest.setup.ts",
  //         "**/*.test.tsx",
  //         "**/*.spec.tsx",
  //         "**/*.spec.ts"
  //       ]
  //     }
  //   ]
  // }
}
