.Teaser {
  //   border: 1px solid red;
  width: 100%;
  display: grid;
  gap: 2em;
  grid-template-areas: "feature tiny1" "feature tiny2";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  margin: 2em;
  color: #fff;
  .feature {
    // border: 1px solid orange;
    grid-area: feature;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    background: var(--neutral-dark-blue);
  }
  .feature-tiny {
    // border: 1px solid yellow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;
    background: var(--neutral-dark-blue);
  }
  .feature-tiny-1 {
    grid-area: tiny1;
  }
  .feature-tiny-2 {
    grid-area: tiny2;
  }
}
